@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: 'Sarpanch', sans-serif;
}

body {
  background: linear-gradient(90deg, rgba(1,0,18,1) 0%, rgba(51,51,52,1) 72%, rgba(51,55,56,1) 100%);
}


.navegacao-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.625rem 0rem;
  padding: 15px;
}
.navegacao-box-ul {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1.25rem;
}

.lista-box{
  color: red;
}
